*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Maven Pro", "Roboto", sans-serif;
    min-height: 2000px;
}

.menu {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 11;
}

.menu__nav {
    height: 100%;
    width: 30%;
    background: #429af8;
    box-shadow: 5px 10px 18px #888888;
    overflow-y: auto;
}

.menu-visible {
    display: flex;
}

.body-o-hidden {
    overflow: hidden;
}

.menu a:link,
a:visited {
    text-decoration: none;
}

.menu a:active {
    color: white;
}

.menu__close {
    color: white;
    font-size: 35px;
    padding: 40px 40px 0;
}

.menu__close a:hover {
    cursor: pointer;
}

.menu__options {
    padding: 0 50px 150px;
    position: absolute;
    bottom: 0;
}

.menu__options li {
    line-height: 2.5;
    list-style-type: none;
    font-size: 25px;
    font-weight: 600;
}

.menu__options > ul > li > a {
    color: white;
}

.menu__background {
    height: 100%;
    width: 70%;
    background-color: rgba(87, 87, 87, 0.781);
    z-index: 12;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 45px;
    height: 110px;
    align-items: center;
    transition: 0.3s ease-in;
    font-weight: 700;
}

.header a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.header.sticky {
    background: #fff;
}

.header__button {
    background: transparent;
    border: none;
    width: 52px;
    height: 52px;
    font-size: 25px;
}

.header__button:hover {
    background: #d3d2d2;
    border-radius: 30px;
    transition: 0.25s;
    cursor: pointer;
}

.header__logo {
    margin-left: 20px;
    width: 300px;
}

.header__logo a {
    display: block;
}

.header__logo a img {
    width: 100%;
}

.header__lang {
    margin-left: auto;
}

.header__lang a {
    line-height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    height: 50px;
}

.header__lang a:hover {
    background: #e6e6e6;
    border-radius: 30px;
    transition: 0.25s;
}

.header__cart a {
    padding: 0 10px;
    display: inline-block;
    height: 50px;
}

.header__cart a:hover {
    background: #e6e6e6;
    border-radius: 30px;
    transition: 0.25s;
}

.header__cart {
    margin-left: 20px;
    line-height: 50px;
}

.header__cart i {
    font-size: 25px;
    margin-right: 10px;
}

.hero {
    position: relative;
    display: flex;
    height: 100vh;
    align-items: center;
    background: #ededed;
}

.hero__background {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: 70%;
    height: 100%;
    padding-top: 110px;
    background: #fff;
}

.hero__background .logo {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.hero__content {
    position: relative;
    z-index: 1;
    padding-left: 10%;
}

.manufacturer {
    width: 600px;
}

.manufacturer span {
    display: inline-block;
    position: relative;
    bottom: 7px;
    left: 10px;
    color: #8b8d8f;
    text-transform: uppercase;
    font-size: 12px;
}

.manufacturer h1 {
    font-size: 60px;
}

.products {
    min-height: 35vw;
    width: 99vw;
}

.products__title__wrapper {
    display: flex;
    width: 75%;
    height: 150px;
    /*border: 2px solid red; /* TEST */
    margin: auto;
    align-items: flex-end;
    padding-bottom: 30px;
}

.products__title {
    /*border: 2px solid blue; /* TEST */
    font-family: "Maven Pro", "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.products__title p::before {
    content: "";
    background: #d8d8d8;
    width: 35px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-right: 10px;
}

.products__content__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    /*border: 2px solid red; /* TEST */
    margin: auto;
    justify-content: space-between;
}

.products__content {
    width: 20%;
    height: 380px;
    /* border: 2px solid blue; /* TEST */
}

.products__content__img {
    height: 60%;
}

.products__content__title {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
    height: 70px;
}

.products__content__title a {
    text-decoration: none;
}

.products__content__title a:hover {
    color: #1a75ff;
}

.products__content__price {
    display: flex;
    justify-content: space-between;
    /*border: 2px solid red;*/
    margin-top: 10px;
}

.bold {
    font-weight: 700;
}

.buy-container {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.buy {
    width: 60%;
    height: 50px;
    background: #ededed;
    /*padding-top: 15px;
    padding-left: 5px;*/
}

.buy a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.buy span {
    position: relative;
    top: 30%;
    left: 5%;
}

.cart {
    width: 40%;
    height: 50px;
    background: #28292b;
}

.cart i {
    color: white;
    font-size: 26px;
    position: relative;
    top: 20%;
    left: 60%;
    margin-right: 10px;
}

.cart a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.cart a:hover {
    background: #379cf5;
}

.producent {
    width: 100%;
    display: flex;
    color: white;
    margin-top: 50px;
}

.producent__background {
    flex-basis: 40%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(/assets/manufacturer_background.jpg);
}

.producent__content {
    flex-basis: 60%;
    background: #379cf5;
}

.producent__content__title {
    display: flex;
    padding: 80px 80px 0;
    font-size: 20px;
}

.producent__content__text {
    padding: 50px 80px;
    font-weight: 500;
    font-size: 20px;
}

.producent__content__text2 {
    padding: 0 80px 60px;
}

.producent__content__text2 p {
    font-size: 40px;
    font-weight: 700;
}

.producent__content__text2 span {
    font-size: 20px;
}

/****************************************************/
.footer {
    width: 100%;
    background: #0e0e0f;
    display: flex;
    flex-wrap: wrap;
}

.footer__left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
    padding-bottom: 30px;
}

.footer__left__content {
    width: 35%;
    padding-top: 70px;
    color: #aea7a7;
    font-size: 14px;
    line-height: 2;
}

.footer__left__content img {
    max-width: 90%;
}

.footer__right {
    width: 50%;
    border-bottom: 1px solid #262626;
    display: flex;
    padding-bottom: 30px;
}

.footer__right__menu {
    width: 40%;
    padding-left: 70px;
    padding-top: 40px;
}

.footer__right__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 3;
}

.footer__right__menu li:first-child {
    color: #808080;
}

.footer__right__menu a {
    text-decoration: none;
    color: white;
}

.footer__right__menu a:hover,
a:active {
    color: #1a75ff;
}

.footer__bottom {
    width: 100%;
    color: #aea7a7;
    padding-left: 250px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 30px 0 30px 30px;
}

/****************************************************/

@media (max-width: 1264px) {
    .menu__nav {
        width: 40%;
    }

    .menu__background {
        width: 60%;
    }

    .header {
        height: 60px;
        padding: 0 5px;
    }

    .header__cart {
        margin-right: 20px;
    }

    .hero__content {
        padding-left: 30px;
    }

    .products__content {
        width: 40%;
        margin-top: 100px;
    }

    .products__content__img {
        height: 70%;
    }

    .producent {
        margin-top: 100px;
    }

    .producent__background {
        flex-basis: 55%;
    }

    .producent__content {
        flex-basis: 45%;
    }

    .producent__content__title {
        padding: 40px 30px 0;
    }

    .producent__content__text {
        padding: 40px 30px;
    }

    .producent__content__text2 {
        padding: 0 30px 30px;
    }

    .footer {
        display: flex;
    }

    .footer__left {
        width: 100%;
        justify-content: space-around;
        border-right: none;
        order: 2;
    }

    .footer__right {
        width: 100%;
        justify-content: center;
        order: 1;
    }

    .footer__bottom {
        order: 3;
    }
}

@media (max-width: 960px) {
    .menu__nav {
        width: 60%;
    }

    .menu__options li {
        font-size: 22px;
    }

    .menu__background {
        width: 40%;
    }

    .header__lang {
        display: none;
    }

    .header__cart {
        margin-left: auto;
    }

    .hero {
        flex-direction: column;
    }

    .hero__background {
        position: static;
        width: 100%;
        flex-grow: 1;
    }

    .manufacturer {
        width: 100%;
        padding: 25px 0;
    }

    .manufacturer h1 {
        font-size: 35px;
    }

    .manufacturer h2 {
        font-size: 20px;
    }

    .hero__content {
        width: 100%;
        padding: 0 30px;
    }

    .cart i {
        left: 50%;
    }

    .producent {
        display: block;
    }

    .producent__background {
        height: 300px;
    }
}

@media (max-width: 850px) {
    .products__content__img {
        height: 55%;
    }
}

@media (max-width: 600px) {
    .menu__nav {
        width: 80%;
    }

    .menu__options {
        padding: 0 50px 80px;
        bottom: 0;
    }

    .menu__options li {
        font-size: 20px;
    }

    .menu__background {
        width: 20%;
    }

    .header__logo {
        margin-left: 5px;
    }

    .header__lang {
        display: none;
    }

    .header__cart {
        display: none;
    }

    /* .products__content__wrapper {
        justify-content: center;
    } */

    .products__content {
        width: 100%;
    }

    .products__content__img {
        height: 70%;
    }

    .products__content__img img {
        display: block;
        margin: auto;
    }

    .producent__content__title {
        padding: 20px 15px 0;
    }

    .producent__content__text {
        padding: 30px 15px;
    }

    .producent__content__text2 {
        padding: 0 15px 20px;
    }

    .footer__left {
        display: block;
        padding-left: 30px;
    }

    .footer__left__content {
        width: 100%;
    }

    .footer__left__content img {
        width: 60%;
    }

    .footer__right {
        display: block;
        justify-content: flex-start;
        padding-left: 30px;
    }

    .footer__right__menu {
        padding-left: 0;
        width: 100%;
    }
}
