*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Maven Pro","Roboto",sans-serif;
}

.container1 {
    display: flex;
    width: 99vw;
    height: 56vw;
}

.top-container {
    width: 100%;
    height: 110px;
    border: 2px solid red; /* TEST */
    position: absolute;
    display: flex;
    align-items: center;
}

.top-container a:link, a:visited {
    text-decoration: none;
    color: black;
}

.top-container a:active {
    text-decoration: none;
    color: black;
}

.menu {
    margin-left: 50px;
    /*border: 1px solid red; /* TEST */
    /*border: 1px solid red; /* TEST */
    width: 60px;
    height: 60px;
}

.menu a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu a:hover {
    background: #d9d9d9;
    border-radius: 100%;
    transition: 0.25s;
}

.menu i {
    font-size: 28px;
}

.logo {
    width: 280px;
    margin-left: 40px;
    /*border: 1px solid red; /* TEST */
}

.logo > img {
    width: 100%;
}

.fb {
    margin-left: 250px;
    /*border: 1px solid red; /* TEST */
    width: 60px;
    height: 60px;
    text-align: center;
}

.fb i {
    font-size: 25px;
    padding-top: 5px;
    position: relative;
    top: 20%;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.fb a {
    display: block;
    width: 100%;
    height: 100%;
}

.fb a:link, a:visited {
    color: black;
}

.fb:hover {
    background: #e6e6e6;
    border-radius: 100%;
    transition: 0.25s;
}

.basket {
    position: relative;
    left: 750px;
    /*border: 1px solid red; /* TEST */
    width: 170px;
    height: 50px;
}

.basket i {
    font-size: 25px;
    position: relative;
    top: 10px;
    left: 13px;
}

.basket span {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding-left: 10px;
    display: inline-block;
    position: relative;
    top: 10px;
    left: 13px;
}

.basket a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.basket:hover {
    background: #e6e6e6;
    border-radius: 30px;
    transition: 0.25s;
}

.title-wrapper {
    position: absolute;
    top: 320px;
    left: 170px;
    /*border: 2px solid red; /*TEST */
    width: 530px;
    height: 300px;
}

.title1 {
    display: flex;
}

.title1b {
   text-transform: uppercase; 
   padding-left: 25px;
   font-size: 12px;
   color: #8b8d8f;
   font-family: "Maven Pro","Roboto",sans-serif;
   line-height: 0.4;
}

.title2 {
    font-size: 60px;
    font-weight: 700;
    font-family: "Maven Pro","Roboto",sans-serif;
    line-height: 1;
    margin-top: 15px;
}

.title3 {
    font-family: "Maven Pro","Roboto",sans-serif;
    font-size: 24px;
    margin-top: 30px;
}

.left-content {
    background-color: #ededed;
    width: 30%;
    height: 100%;
}

.right-content {
    background-color: white;
    width: 70%;
    height: 100%;
}

.right-content img {
    width: 100%;
    height: 100%;
    padding-top: 110px;
}

.container2 {
    height: 40vw;
    width: 99vw;
}

.container2-title-wrapper {
    display: flex;
    width: 75%;
    height: 150px;
    /*border: 2px solid red; /* TEST */
    margin: auto;
    align-items: flex-end;
}

.container2-title {
    /*border: 2px solid blue; /* TEST */
    font-family: "Maven Pro","Roboto",sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.container2-title p::before {
    content: "";
    background: #d8d8d8;
    width: 35px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -8px;
    margin-right: 10px;
}

.container2-content-wrapper {
    display: flex;
    width: 75%;
    /*border: 2px solid red; /* TEST */
    margin: auto;
    justify-content: space-between;
}

.container2-content {
    width: 20%;
    height: 380px;
   /* border: 2px solid blue; /* TEST */
}

.container2-content-img {
    height: 60%;
    /*border: 2px solid purple; /* TEST */
}

.container2-content img {
    /*transform: scale(0.6,0.6);*/
    max-width: 100%;
}

.container2-content-title {
    font-family: "Maven Pro","Roboto",sans-serif;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 15px;
}

.container2-content-title a {
    text-decoration: none;
}

.container2-content-title a:hover {
    color: #1a75ff;
}

.container2-content-price {
    display: flex;
    justify-content: space-between;
    /*border: 2px solid red;*/
    margin-top: 10px;
}

.bold {
    font-weight: 700;
}

.buy-container {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.buy {
    width: 60%;
    height: 50px;
    background: #ededed;
    /*padding-top: 15px;
    padding-left: 5px;*/
}

.buy a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.buy span {
    position: relative;
    top: 30%;
    left: 5%;
}

.cart {
    width: 40%;
    height: 50px;
    background: #28292b;
}

.cart i {
    color: white;
    font-size: 26px;
    position: relative;
    top: 20%;
    left: 60%;
}

.cart a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.cart a:hover {
    background: #379cf5;
}

.container3 {
    width: 99vw;
    height: 40vw;
    display: flex;
}

.container3-left {
    width: 42%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url(manufacturer_background.jpg);
}

.container3-right {
    width: 58%;
    background: #379cf5;
    /*border: 2px dashed red;*/
    color: white;
}

.container3-right-1 {
    display: flex;
    /*border: 2px solid yellow;*/
    padding: 0 90px;
    margin-top: 50px;
    color: white;
    font-size: 22px;
}

.container3-right-1a {
    line-height: 5;
}

.container3-right-1b {
    padding-left: 20px;
}

.container3-right-2 {
    /*border: 2px solid red;*/
    height: 300px;
    width: 100%;
    font-weight: 500;
    padding: 0 90px;
    font-size: 19px;
}

.container3-right-3 {
    /*border: 2px solid purple;*/
    height: 200px;
    width: 100%;
    font-weight: 500;
    padding: 0 90px;
    padding-top: 60px;
}

.container4 {
    width: 99vw;
    height: 27vw;
    background: #0e0e0f;
    display: flex;
    flex-wrap: wrap;
}

.footer-left {
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #262626;
    border-right: 1px solid #262626;
}

.footer-left-content {
    width: 35%;
    padding-top: 70px;
    color: #aea7a7;
    font-size: 14px;
    line-height: 0.6;
}

.footer-left-content img {
    max-width: 90%;
    padding-top: 10px;
}

.footer-right {
    width: 50%;
    height: 75%;
    border-bottom: 1px solid #262626;
    display: flex;
}

.footer-menu {
    width: 40%;
    padding-left: 70px;
    padding-top: 40px;
}

.footer-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 3;
}

.footer-menu li:first-child {
    color: #808080;
}

.footer-menu a {
    text-decoration: none;
    color: white;
}

.footer-menu a:hover, a:active {
    color: #1a75ff;
}

.footer-down {
    width: 100%;
    height: 25%;
    color: #aea7a7;
    padding-left: 250px;
    font-size: 14px;
    display: flex;
    align-items: center;
}